@media (min-width: 320px) and (max-width: 989px){
    .landing {
        background-image: url("../../assets/Nexus_Landing_Page_BKG.jpg");
        background-size: 100vw ;
        margin-top: .5em;
        background-repeat: no-repeat;
    }
    
    .button1{
        width: 50vw;
        height: 1.5em;
        margin-top: 15vh;
        margin-left: 25vw;
        border-radius: 25em;
        background-color: rgba(255, 255, 255, .7);
        font-family: 'Poppins' sans-serif;
        font-size: 15px;
        font-weight: 500;
    }
    
    .button2{
        width: 50vw;
        height: 1.5em;
        margin-top: 1.5vh;
        margin-left: 25vw;
        border-radius: 25em;
        background-color: rgba(255, 255, 255, .7);
        font-family: 'Poppins' sans-serif;
        font-size: 15px;
        font-weight: 500;
    }

    
    .about {
        margin-left: 10vw;
        height: 25vh;
        width: 80vw;
        text-align: center;
        align-content: center;
        font-family: 'Poppins', sans-serif;
    }

    .footer{
        width: 100vw;
        height: 3vh;
        background-color: rgba(255, 255, 255, 1.0);
        text-align: center;
        font-family: 'Poppins', sans-serif;
    }
}



@media (min-width: 990px){

.landing {
    background-image: url("../../assets/Nexus_Landing_Page_BKG.jpg");
    background-position-x: center; 
    height: 100vh;
    width: 100vw;
    background-size: auto;
    margin-top: auto;
    background-repeat: no-repeat;
}

.buttons{
    position: static;
    display: inline-block;
}

.button1{
    width: 20em;
    height: 2.5em;
    margin-top: 35em;
    margin-left: 24em;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, .7);
    font-family: 'Poppins' sans-serif;
    font-size: 15px;
    font-weight: 500;
}

.button2{
    width: 20em;
    height: 2.5em;
    margin-top: 10em;
    margin-left: 5em;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, .7);
    font-family: 'Poppins' sans-serif;
    font-size: 15px;
    font-weight: 500;
}


.testimony {
    height: 20vh;
    width: 100vw;
}

.quote{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin-top: 15vh;
    font-display: bolder;
    font-size: 2em;
}

.aboutBreak{
    background-image: url("../../assets/TeamLine.jpeg");
    width: 100vw;
    height: 40vh;
    background-repeat: no-repeat;
    background-position-y: 30%;
    background-position-x: 90%;
}

.about {
    margin-left: 10vw;
    height: 25vh;
    width: 80vw;
    text-align: center;
    align-content: center;
    font-family: 'Poppins', sans-serif;
}

.Home{
    margin-left: 82vw;

}

.AboutUs{
    margin-left: 82vw;
    text-decoration: none;
}

.Jobs{
    margin-left: 2vw;
    text-decoration: none;
}

.Account{
    margin-left: 2vw;
    text-decoration: none;
}


.footer{
    width: 100vw;
    background-color: rgba(255, 255, 255, 1.0);
    height: 1vh;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    
}

}



