<app-navbar></app-navbar>
<div class="bizHeader">
  <h1 class="bizName">{{ profile?.name }}</h1>
  <h4 class="bizInfo">{{ profile?.phoneNumber }}</h4>
  <h4 class="bizInfo">{{ profile?.location }}</h4>
  <h4 class="bizInfo">{{ profile?.website }}</h4>
  <h4 class="bizInfo">{{ profile?.about }}</h4>
  <button mat-button (click)="openForm()">Update</button>
</div>

<div>
  <button (click)="createPostDialog()">Create Post</button>
</div>

<div *ngFor="let post of posts" id="card">
    <mat-card>
      <mat-card-title>{{ post.jobTitle }}</mat-card-title>
      <mat-card-subtitle> {{ post.name }} </mat-card-subtitle>
      <mat-card-subtitle> {{ post.location }} </mat-card-subtitle>
      <mat-card-content> {{post.skills}} </mat-card-content>
      <mat-card-content> {{post.jobDescription}} </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="openForm()">More Info</button>
        <button mat-button (click)="openForm()">Update Post</button>
        <button mat-button (click)="openForm()">Delete Post</button>
      </mat-card-actions>
    </mat-card>
</div>