<app-navbar></app-navbar>
<div>
  <p>{{ profile?.username }}</p>
  <p>{{ profile?.name }}</p>
  <p>{{ profile?.phoneNumber }}</p>
  <p>{{ profile?.location }}</p>
  <p>{{ profile?.profilePicture }}</p>
  <p>{{ profile?.website }}</p>
  <p>{{ profile?.about }}</p>
  <button mat-button (click)="openForm()">Update</button>
</div>

<div *ngFor="let post of posts" id="card">
  <mat-card>
    <section id="left-column">
      <h2>{{ post?.jobTitle }}</h2>
      <h3>{{ post?.location }}</h3>
    </section>
    <section id="right-column">
      <p> {{ post?.skills }}</p>
      <p> {{ post?.jobDescription }}</p>
    </section>
  </mat-card>
</div>