.bizHeader{
    width: 100vw;
    height: 35vh;
    background-color: rgba(88, 167, 251, 0.6);
}

.bizName{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: white;
    font-size: 10em;
    padding-top: .4em; 
}