<div class="background">
<div class="authContainer">
<div class="authBox">
  
  <h2>Login</h2>
  <mat-radio-group [(ngModel)]="typeOfAccount" name="typeOfAccount">
    <div>Please select a button (required):</div>
    <br />
    <mat-radio-button name="business" value="business" (change)="handleAccountType($event)">Business</mat-radio-button>
    <mat-radio-button name="freelance" value="freelance" (change)="handleAccountType($event)">Freelancer</mat-radio-button>
  </mat-radio-group>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div>
      <br />
      <label></label>
      <input class="unBox" name="name" type="text" placeholder="Username or Email" formControlName="name" (keyup)="handleName($event)" required>
      <!-- <div *ngIf="name.errors.required">Username is required!</div> -->
    </div>
    <div>
      <label></label>
      <br />
      <input class="pwBox" name="password" type="password" placeholder="Password" formControlName="password" (keyup)="handlePassword($event)" required>
    </div>
    <button type="submit" [disabled]="typeOfAccount !== 'freelance' && typeOfAccount !== 'business' ">Submit</button>
    <br />
    <label>Don't have an account?</label>
    <button mat-button (click)="openForm()">Sign Up!</button>
  </form>

</div>
</div>
</div>