<style>
  @import url('https://fonts.googleapis.com/css?family=Poppins');
</style>

<app-navbar></app-navbar>
<div class="background">
  <div class="authContainer">
    <div class="authBox">
      <h2 class="title">Login</h2>
      <mat-radio-group [(ngModel)]="typeOfAccount" name="typeOfAccount">
        <div>Please select a button (required):</div>
        <mat-radio-button id="businessButton" name="business" value="business" (change)="handleAccountType($event)">Business</mat-radio-button>
        <mat-radio-button id="freelancerButton" name="freelance" value="freelance" (change)="handleAccountType($event)">Freelancer</mat-radio-button>
      </mat-radio-group>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="formContainer">
          <mat-form-field>
            <input matInput class="unBox" name="name" type="text" placeholder="Username or Email" formControlName="name"
              (keyup)="handleName($event)" [errorStateMatcher]="matcher" required>
          </mat-form-field>
          <mat-form-field>
            <input matInput class="pwBox" name="password" type="password" placeholder="Password" formControlName="password"
              (keyup)="handlePassword($event)" [errorStateMatcher]="matcher" required>
          </mat-form-field>
          <button class="button" type="submit" [disabled]="typeOfAccount !== 'freelance' && typeOfAccount !== 'business' ">Login</button>
        </div>
      </form>
    </div>
    <label class="signUp">Don't have an account?</label>
    <button class="signUp" id="signUpButton" mat-button (click)="openForm()">Sign Up!</button>
  </div>
</div>