<nav class="NavBar" >
    <!-- <img src="../../assets/nexus_X.png" class="Logo" /> -->
    <ul>
      <!-- <a routerLink="/"><img src="../../assets/nexus_X.png"></a> -->
      <!-- <a routerLink="/landing"><img src="../../assets/nexus_X.png" class="Home"></a> -->
      <a class="Home" routerLink="/landing">HOME</a>
      <a class="AboutUs" href="http://localhost:4200/landing#aboutSect">ABOUT US</a>
      <a class="Jobs" routerLink="/posts">JOBS</a>
      <a class="Account" routerLink="/account">ACCOUNT</a>
    </ul>
    
  </nav>