.NavBar{
    height: 3vh;
    background-color: rgba(255, 255, 255, 1.0);
    font-family: 'Poppins', sans-serif;
}

.Home{
    margin-left: 82vw;
}

.AboutUs{
    margin-left: 82vw;
    text-decoration: none;
}

.Jobs{
    margin-left: 2vw;
    text-decoration: none;
}

.Account{
    margin-left: 2vw;
    text-decoration: none;
}