.NavBar{
    height: 3vh;
    background-color: rgba(255, 255, 255, 1.0);
    font-family: 'Poppins', sans-serif;
}

.Home{
    /* margin-top: -5em;
    margin-left: -5em;
    height: 10em;
    width: 15em;
    display: inline-block; */
    text-decoration: none;
    color: black;
}

.AboutUs{
    margin-left: 78vw;
    text-decoration: none;
    color: black;

}

.Jobs{
    margin-left: 2vw;
    text-decoration: none;
    color: black;
}

.Account{
    margin-left: 2vw;
    text-decoration: none;
    color: black;
}


