<nav class="NavBar">
  <ul>
    <li>
      <a routerLink="/landing">HOME</a>
    </li>
    <li>
      <a href="https://nexus-client.herokuapp.com/landing#aboutSect">ABOUT US</a>
    </li>
    <li>
      <a routerLink="/posts">JOBS</a>
    </li>
    <li>
      <a (click)="handleAccount()">ACCOUNT</a>
    </li>
    <li style="float:right">
      <a (click)="logout()" *ngIf="isLoggedIn">Logout</a>
    </li>
    <li>
      <a *ngIf="isAdmin == 'true'" routerLink="/admin">ADMIN PORTAL</a>
    </li>
  </ul>

</nav>