.formContainer{
    padding: 50px;
    background: rgb(230, 230, 230);
    display: block;
    height: 170px;
    width: 250px;
    margin: 100px auto;

}

.container {
    display: flex;
    flex-direction: column;
  }
  
.container > * {
    width: 100%;
  }
  
  input.example-right-align::-webkit-outer-spin-button,
  input.example-right-align::-webkit-inner-spin-button {
    display: none;
  }
  