h1{
  text-align: center;
  font-size: 4em;
}

mat-form-field {
  display: block;
}

textarea {
  min-height: 130px;
}

mat-card{
  background: #fff;
  padding: 1.5em;
  margin: 1em auto;
  border-radius: 1.5em;
  -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.8);
          box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  width: 60%;
}

.sectTitle{
  font-family: 'Poppins', sans-serif;
  text-align: center;
  color: black;
}

.infoList{
  width: 15vw;
  height: 100vh;
  position: absolute;
  background-color: #e2e2e2;
}