<app-navbar></app-navbar>
<div>
  <p>{{ profile?.name }}</p>
  <p>{{ profile?.email }}</p>
  <p>{{ profile?.phoneNumber }}</p>
  <p>{{ profile?.location }}</p>
  <p>{{ profile?.linkdin }}</p>
  <p>{{ profile?.faceBook }}</p>
  <p>{{ profile?.instagram }}</p>
  <p>{{ profile?.twitter }}</p>
  <p>{{ profile?.skills }}</p>
  <p>{{ profile?.about }}</p>
  <p>{{ profile?.profilePicture }}</p>
  <button mat-button (click)="openForm()">Update</button>
</div>

<div *ngFor="let post of posts" id="card">
    <mat-card>
      <section id="left-column">
        <h2>{{ post?.jobTitle }}</h2>
        <h3>{{ post?.location }}</h3>
      </section>
      <section id="right-column">
        <p> {{ post?.skills }}</p>
        <p> {{ post?.jobDescription }}</p>
      </section>
    </mat-card>
  </div>
 