<h2 mat-dialog-title>Sign Up</h2>
<mat-dialog-content class="mat-typography">
<div class="signUpContainer">
<form [formGroup]="AccountCreateForm" (ngSubmit)="onSubmit()">
  <div>
    <label>Name:</label>
    <input type="text" formControlName="name">
  </div>
  <div>
    <label>Email:</label>
    <input type="email" formControlName="email">
  </div>
  <div>
    <label>Password:</label>
    <input type="password" formControlName="password">
  </div>
  <div>
    <label>Profile Picture:</label>
    <input type="picture" formControlName="profilepicture">
  </div>
  <div>
    <label>Phone Number:</label>
    <input type="text" formControlName="phonenumber">
  </div>
  <div>
    <label>location:</label>
    <input type="text" formControlName="location">
  </div>
  <div>
    <label>Linkdin:</label>
    <input type="text" formControlName="linkdin">
  </div>
  <div>
    <label>FaceBook:</label>
    <input type="text" formControlName="facebook">
  </div>
  <div>
    <label>Instagram:</label>
    <input type="text" formControlName="instagram">
  </div>
  <div>
    <label>Twitter:</label>
    <input type="text" formControlName="twitter">
  </div>
  <div>
    <label>Skills:</label>
    <input type="options" formControlName="skills">
  </div>
  <div>
    <label>About You:</label>
    <input type="textarea" formControlName="about">
  </div>
  <button type="submit">Submit</button>
</form>
</div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button [mat-dialog-close]="submit" cdkFocusInitial>Sign Up</button>
</mat-dialog-actions>

