.signUpContainer {
    display: flex;
    flex-direction: column;
    width: 50vw;
  }

.title{
  text-align: center;
}

.formItems{
  text-align: center;
}
  
  .signUpContainer form {
    margin-bottom: 50em;
  }
  
  .signUpContainer form > * {
    margin: 1em 0em;
  }
  
  .signUpContainer .mat-radio-button {
    margin: 0em 1em;
  }