<h2 class="title" mat-dialog-title>SIGN UP FOR NEXUS</h2>
<form [formGroup]="AccountCreateForm" (ngSubmit)="submit(AccountCreateForm)">
  <mat-dialog-content class="mat-typography">
    <div class="signUpContainer">
      <mat-radio-group [(ngModel)]="typeOfAccount" name="typeOfAccount" [ngModelOptions]="{standalone: true}">
        <div>Please select a button (required):</div>
        <mat-radio-button name="business" value="business" (change)="handleButton($event)">Business</mat-radio-button>
        <mat-radio-button name="freelance" value="freelance" (change)="handleButton($event)">Freelancer</mat-radio-button>
      </mat-radio-group>
      <div *ngIf="typeOfAccount === 'freelance' ">
        <mat-form-field>
          <input matInput class="inputBox" placeholder="Username" formControlName="name">
        </mat-form-field>
        <mat-form-field>
          <input matInput type="email" class="inputBox" placeholder="Email" formControlName="email">
        </mat-form-field>
        <mat-form-field>
          <input matInput type="password" class="inputBox" placeholder="password" formControlName="password">
        </mat-form-field>
        <mat-form-field>
          <input matInput type="picture" class="inputBox" placeholder="Profile Picture" formControlName="profilePicture">
        </mat-form-field>
        <mat-form-field>
          <input matInput type="text" class="inputBox" placeholder="Phone #" formControlName="phoneNumber">
        </mat-form-field>
        <mat-form-field>
          <input matInput type="text" class="inputBox" placeholder="Location" formControlName="location">
        </mat-form-field>
        <mat-form-field>
          <input matInput type="text" class="inputBox" placeholder="LinkedIn" formControlName="linkdin">
        </mat-form-field>
        <mat-form-field>
          <input matInput type="text" class="inputBox" placeholder="FaceBook" formControlName="faceBook">
        </mat-form-field>
        <mat-form-field>
          <input matInput type="text" class="inputBox" placeholder="Instagram" formControlName="instagram">
        </mat-form-field>
        <mat-form-field>
          <input matInput type="text" class="inputBox" placeholder="Twitter" formControlName="twitter">
        </mat-form-field>
        <mat-form-field>
          <input matInput type="options" class="inputBox" placeholder="Skills" formControlName="skills">
        </mat-form-field>
        <mat-form-field>
          <textarea matInput class="inputBox" placeholder="About You or Your Business" formControlName="about"></textarea>
        </mat-form-field>
      </div>
      <div *ngIf="typeOfAccount === 'business' ">
          <mat-form-field>
            <input matInput class="inputBox" placeholder="name" formControlName="name">
          </mat-form-field>
          <mat-form-field>
            <input matInput type="email" class="inputBox" placeholder="Email" formControlName="email">
          </mat-form-field>
          <mat-form-field>
            <input matInput type="password" class="inputBox" placeholder="password" formControlName="password">
          </mat-form-field>
          <mat-form-field>
            <input matInput type="text" class="inputBox" placeholder="Phone #" formControlName="phoneNumber">
          </mat-form-field>
          <mat-form-field>
            <input matInput type="text" class="inputBox" placeholder="Location" formControlName="location">
          </mat-form-field>
          <mat-form-field>
            <input matInput type="text" class="inputBox" placeholder="Website" formControlName="website">
          </mat-form-field>
          <mat-form-field>
            <textarea matInput class="inputBox" placeholder="About You or Your Business" formControlName="about"></textarea>
          </mat-form-field>
        </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button class="buttons" mat-button type="button" mat-dialog-close>Cancel</button>
    <button class="buttons" mat-button cdkFocusInitial type="submit">Sign Up</button>
  </mat-dialog-actions>
</form>